<div class="container-fluid">
  <div class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item">
          {{link-to "Home" 'home' classNames="navbar-link"}}
        </li>
        <li class="navbar-item">
          {{link-to "Tokens" 'tokens' classNames="navbar-link"}}
        </li>
        <li class="navbar-item">
          {{link-to "Works" 'works' classNames="navbar-link"}}
        </li>
        <li class="navbar-item">
          {{link-to "Authors" 'authors' classNames="navbar-link"}}
        </li>
        <li class="navbar-item">
          {{link-to "Editions" 'editions' classNames="navbar-link"}}
        </li>
      </ul>
    </div>
  </div>
</div>
{{yield}}
