<nav>
  <ul class="pagination">
    <li class={{if isFirst 'current'}}>
      {{#if isFirst}}
        <a>Previous</a>
      {{else}}
        <a {{action 'pageSelected' previousPage}}>Previous</a>
      {{/if}}
    </li>
    <li>
      <a {{action 'pageSelected' nextPage}}>Next</a>
    </li>
  </ul>
</nav>
{{yield}}
