<div class="container">
  <div class="row">
    <div class="eight columns">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Birth</th>
            <th>Death</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="3">{{page-elements.pagination model=model action=(action 'setPage')}}</td>
          </tr>
        </tfoot>
        <tbody>
          {{#each model as |author|}}
            {{#tables.clickable-row action=(action 'selectRow' author)}}
              <td>{{author.name}}</td>
              <td>{{#if author.birthDate}}{{link-to author.birthDate 'authors.year' author.birthDate}}{{/if}}</td>
              <td>{{author.deathDate}}</td>
            {{/tables.clickable-row}}
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="four columns">
      {{outlet}}
    </div>
  </div>
</div>
