<div class="container">
  <div class="row">
    <div class="eight columns">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Published</th>
          </tr>
          <tr>
            <td colspan="2">{{one-way-input classNames="u-full-width" placeholder="search by prefix (title only)"}}</td>
            <td>{{one-way-input classNames="u-full-width" placeholder="search by year"}}</td>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="3">{{page-elements.pagination model=model action=(action 'setPage')}}</td>
          </tr>
        </tfoot>
        <tbody>
          {{#each model as |edition|}}
            {{#tables.clickable-row action=(action 'selectRow' edition)}}
              <td>{{edition.title}}</td>
              <td>{{edition.subtitle}}</td>
              <td>{{#if edition.publishDate}}{{link-to edition.publishDate 'editions.year' edition.publishDate}}{{/if}}</td>
            {{/tables.clickable-row}}
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="four columns">
      {{outlet}}
    </div>
  </div>
</div>
