<div class="container">
  <div class="row">
    <div class="eight columns">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Published</th>
          </tr>
          <tr>
            <td colspan="2">
              {{one-way-input q 
                  focusOut=(action 'setSearch')
                  keyEvents=(hash 13=(action "setSearch") 27=(action "resetParam" 'q'))
                  classNames="u-full-width" 
                  title="enter/return to search, escape to clear"
                  placeholder="by prefix (title only)"}}
            </td>
            <td>
              {{one-way-input y 
                  focusOut=(action 'setSearch')
                  keyEvents=(hash 13=(action "setYear") 27=(action "resetParam" 'y'))
                  classNames="u-full-width" 
                  title="enter/return to search, escape to clear"
                  placeholder="by year"}}
            </td>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="3">{{page-elements.pagination model=model action=(action 'setPage')}}</td>
          </tr>
        </tfoot>
        <tbody>
          {{#each model as |work|}}
            {{#tables.clickable-row}}
              <td>{{link-to work.title 'works.work' work.id}}</td>
              <td>{{work.subtitle}}</td>
              <td>{{#if work.publishDate}}{{link-to work.publishDate 'works.year' work.publishDate}}{{/if}}</td>
            {{/tables.clickable-row}}
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="four columns">
      {{outlet}}
    </div>
  </div>
</div>
